<!DOCTYPE html>
<html lang="zh-CN"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/lib/layui/layui.js}" charset="utf-8"></script>
    <script type="text/javascript" th:src="@{/js/xadmin.js}"></script>
    <link rel="stylesheet" th:href="@{/css/font.css}">
    <link rel="stylesheet" th:href="@{/css/xadmin.css}">
    <link rel="stylesheet" th:href="@{/lib/layui/css/layui.css}">
    <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/
        ctxPath = /*[[@{/}]]*/ '';
        /*]]>*/
    </script>
    <script th:src="@{/productType/add.js}"></script>
</head>
<body>
<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
    <legend>产品</legend>
</fieldset>
<form class="layui-form" action="" th:object="${productDO}">
    <input type="hidden" th:field="*{productId}"/>
    <input type="hidden" th:field="*{productStockId}"/>

    <div class="layui-form-item">
        <label class="layui-form-label">产品类型</label>
        <div class="layui-input-block">
            <select name="productTypeId">
                <option th:each="list,userStat:${productTypeList}" th:value="${list.id}" th:text="${list.name}"
                        th:selected="${list.id == productDO.productTypeId}"></option>
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">产品名称</label>
        <div class="layui-input-block">
            <input type="text" name="name" th:field="*{name}" autocomplete="off" placeholder="产品名称" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">大小</label>
            <div class="layui-input-block">
                <input type="text" name="productSize" th:field="*{productSize}" autocomplete="off" class="layui-input" >
            </div>
        </div>

        <div class="layui-inline">
            <label class="layui-form-label">颜色</label>
            <div class="layui-input-block">
                <input type="text" name="productColor" th:field="*{productColor}" autocomplete="off" class="layui-input" >
            </div>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">进</label>
            <div class="layui-input-block">
                <input type="text" name="incomeNum" th:field="*{incomeNum}" autocomplete="off" class="layui-input" lay-verify="number">
            </div>
        </div>

        <div class="layui-inline">
            <label class="layui-form-label">销</label>
            <div class="layui-input-block">
                <input type="text" name="outNum" th:field="*{outNum}" autocomplete="off" class="layui-input" lay-verify="number">
            </div>
        </div>

        <div class="layui-inline">
            <label class="layui-form-label">存</label>
            <div class="layui-input-block">
                <input type="text" name="exsitNum" th:field="*{exsitNum}" autocomplete="off" class="layui-input" lay-verify="number">
            </div>
        </div>
    </div>

    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">备注</label>
        <div class="layui-input-block">
            <textarea placeholder="请输入备注" class="layui-textarea" th:field="*{remark}"></textarea>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit="" lay-filter="add">立即提交</button>
            <!--<button type="reset" class="layui-btn layui-btn-primary">重置</button>-->
        </div>
    </div>
</form>
</body>
</html>