<!DOCTYPE html>
<html lang="zh-CN"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/lib/layui/layui.js}" charset="utf-8"></script>
    <script type="text/javascript" th:src="@{/js/xadmin.js}"></script>
    <link rel="stylesheet" th:href="@{/css/font.css}">
    <link rel="stylesheet" th:href="@{/css/xadmin.css}">
    <link rel="stylesheet" th:href="@{/lib/layui/css/layui.css}">
    <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/
        ctxPath = /*[[@{/}]]*/ '';
        /*]]>*/
    </script>
    <script th:src="@{/order/add.js}"></script>
</head>
<body>
<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
    <legend>商品订单</legend>
</fieldset>
<form class="layui-form" action="" th:object="${orderDO}">
    <input type="hidden" th:field="*{id}"/>

    <div class="layui-form-item">
        <label class="layui-form-label">订单类型</label>
        <div class="layui-inline">
            <select name="saleType" lay-verify="required">
                <option value="1">进</option>
                <option value="2">出</option>
            </select>
        </div>
    </div>


    <div id="productDiv">
        <div class="layui-form-item" id="prductItem_1">
            <div class="layui-inline">
                <label class="layui-form-label">产品信息</label>
                <div class="layui-input-block">
                    <select id="productId_1" name="productId_1" lay-verify="required">
                        <option th:each="list,userStat:${lacaProductList}" th:value="${list.id}" th:text="${list.productName}"
                                th:selected="${list.id == orderDO.productId}"></option>
                    </select>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">个数</label>
                <div class="layui-input-block">
                    <input type="text" id="productNum_1" name="productNum_1" th:value="*{productNum}" autocomplete="off" class="layui-input" lay-verify="number">
                </div>
            </div>

            <div class="layui-inline"><a href="javascript:void (0)" onclick="addProductItem()" style="font-size: 30px">+</a></div>

        </div>

    </div>

    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">加盟商</label>
            <div class="layui-input-inline">
                <input type="text" name="joinShop" th:field="*{joinShop}" autocomplete="off" class="layui-input" >
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">客户姓名</label>
            <div class="layui-input-inline">
                <input type="text" name="customerName" th:field="*{customerName}" autocomplete="off" class="layui-input">
            </div>
        </div>
    </div>


    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">设计师</label>
            <div class="layui-input-inline">
                <input type="text" name="designer" th:field="*{designer}" autocomplete="off" class="layui-input" >
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">用店费</label>
            <div class="layui-input-inline">
                <input type="text" name="userShopFee" th:field="*{userShopFee}" autocomplete="off" class="layui-input">
            </div>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">现金</label>
            <div class="layui-input-inline">
                <input type="text" name="cashPayPrice" th:field="*{cashPayPrice}" autocomplete="off" class="layui-input" >
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">刷卡</label>
            <div class="layui-input-inline">
                <input type="text" name="cardPayPrice" th:field="*{cardPayPrice}" autocomplete="off" class="layui-input" >
            </div>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">微信</label>
            <div class="layui-input-inline">
                <input type="text" name="wxPayPrice" th:field="*{wxPayPrice}" autocomplete="off" class="layui-input" >
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">支付宝</label>
            <div class="layui-input-inline">
                <input type="text" name="alipayPayPrice" th:field="*{alipayPayPrice}" autocomplete="off" class="layui-input" >
            </div>
        </div>
    </div>


    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">总金额</label>
            <div class="layui-input-inline">
                <input type="text" name="totalPrice" th:field="*{totalPrice}" autocomplete="off" class="layui-input" >
            </div>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">支付方式</label>
        <div class="layui-input-block">
            <input type="checkbox" name="postWay"  title="现金" value="1" th:checked="${#strings.contains(orderDO.postWay,'1')}"/>
            <input type="checkbox" name="postWay"  title="刷卡" value="2" th:checked="${#strings.contains(orderDO.postWay,'2')}"/>
            <input type="checkbox" name="postWay"  title="微信" value="3" th:checked="${#strings.contains(orderDO.postWay,'3')}"/>
            <input type="checkbox" name="postWay"  title="支付宝" value="4" th:checked="${#strings.contains(orderDO.postWay,'4')}"/>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">状态</label>
        <div class="layui-input-block">
            <select name="status" lay-verify="required">
                <option value="1">借货</option>
                <option value="2">还货</option>
            </select>
        </div>
    </div>

    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">备注</label>
        <div class="layui-input-block">
            <textarea placeholder="请输入备注" class="layui-textarea" th:field="*{remark}"></textarea>
        </div>
    </div>

    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">关联订单</label>
        <div class="layui-input-block">
            <input type="text" name="innerOrderId" id="innerOrderId"  th:field="*{innerOrderId}"/>
            <input type="button" onclick="selectCustomerInfo()" value="选择"/>
        </div>
    </div>


    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit="" lay-filter="add">立即提交</button>
            <!--<button type="reset" class="layui-btn layui-btn-primary">重置</button>-->
        </div>
    </div>
</form>
<div id="dialog" style="display: none;">
    <div class="customerOrderTable">
        <div class="layui-row">
            <div class="layui-col-md12 x-so">
                <label class="layui-col-md3 layui-col-lg-offset1">
                    <span>客户名称:</span>
                    <input type="text" id="customerName" name="customerName"  placeholder="客户名称" autocomplete="off" class="layui-input">
                </label>
                <button style="margin-right: 10px;" class="layui-btn" data-type="reload"><i class="layui-icon">&#xe615;</i></button>
            </div>
        </div>
    </div>
    <table class="layui-hide" id="LAY_table_customerOrderInfo" lay-filter="customerOrder" ></table>


</div>

</body>


</html>