<!DOCTYPE html>
<html lang="zh-CN"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/lib/layui/layui.js}" charset="utf-8"></script>
    <script type="text/javascript" th:src="@{/js/xadmin.js}"></script>
    <link rel="stylesheet" th:href="@{/css/font.css}">
    <link rel="stylesheet" th:href="@{/css/xadmin.css}">
    <link rel="stylesheet" th:href="@{/lib/layui/css/layui.css}">
    <script th:src="@{/order/list.js}"></script>
    <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/
        ctxPath = /*[[@{/}]]*/ '';
        /*]]>*/
    </script>
</head>
<body class="layui-anim layui-anim-up">
<div class="x-nav"></div>
<div class="productOrderTable">
    <div class="layui-row">
        <div class="layui-col-md12 x-so">
            <label class="layui-col-md3 layui-col-lg-offset1">
                <span>产品名称:</span>
                <input type="text" id="productName" name="productName"   autocomplete="off" class="layui-input">
            </label>

            <label class="layui-col-md3 ">
                <span>类型:</span>
                <select name="saleType" id="saleType" style="width: 150px">
                    <option value="">请选择</option>
                    <option value="1">进</option>
                    <option value="2">出</option>
                </select>
            </label>

            <label class="layui-col-md3 ">
                <span>加盟商:</span>
                <input type="text" id="joinShop" name="joinShop"  autocomplete="off" class="layui-input">
            </label>

            <button  class="layui-btn " data-type="reload"><i class="layui-icon">&#xe615;</i></button>
        </div>
        <div class="layui-col-md12 x-so">
            <label class="layui-col-md3 layui-col-lg-offset1">
                <span>客户姓名:</span>
                <input type="text" id="customerName" name="customerName"  autocomplete="off" class="layui-input">
            </label>

            <label class="layui-col-md3 ">
                <span>设计师:</span>
                <input type="text" id="designer" name="designer"  autocomplete="off" class="layui-input">
            </label>
        </div>
    </div>
</div>
<xblock>
    <button class="layui-btn"  onclick="x_admin_show('新增订单','lacaProductOrder/toAdd',900,750)">新增</button>
</xblock>
<table class="layui-hide" id="LAY_table_productOrder" lay-filter="productOrder" ></table>
</body>
</html>