<!DOCTYPE html>
<html lang="zh-CN"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/lib/layui/layui.js}" charset="utf-8"></script>
    <script type="text/javascript" th:src="@{/js/xadmin.js}"></script>
    <link rel="stylesheet" th:href="@{/css/font.css}">
    <link rel="stylesheet" th:href="@{/css/xadmin.css}">
    <link rel="stylesheet" th:href="@{/lib/layui/css/layui.css}">
    <script th:src="@{/sys/menuList.js}"></script>
    <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/
        ctxPath = /*[[@{/}]]*/ '';
        /*]]>*/
        console.info(ctxPath);
    </script>
</head>
<body class="layui-anim layui-anim-up">
<div class="x-nav"></div>
<div class="menuTable">
    <div class="layui-row">
        <div class="layui-col-md12 x-so">
            <label class="layui-col-md3 layui-col-lg-offset1">
                <span>名称:</span>
                <input type="text" id="name" name="name"  placeholder="请输入菜单名称" autocomplete="off" class="layui-input">
            </label>
            <button style="margin-right: 10px;" class="layui-btn" data-type="reload"><i class="layui-icon">&#xe615;</i></button>
        </div>
    </div>
</div>
<xblock>
    <button class="layui-btn"  onclick="x_admin_show('新增菜单名称','sysMenu/toAdd',800,600)">新增</button>
</xblock>
<table class="layui-hide" id="LAY_table_menu" lay-filter="menu" ></table>
</body>
</html>